<a href="https://colab.research.google.com/github/VibhaeoM01/KN-M-L-course/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function

In [ ]:
def add(a,b):
  return a+b

In [ ]:
add(2,3)

5

In [ ]:
def num(a):
  result=[]
  for i in range(a):
    result.append(i)
  return result

In [ ]:
print(num(5))

[0, 1, 2, 3, 4]

#Example of Functions

Temperature Conversion

In [ ]:
def temp(v,unit):
  if unit == "C":
    return (9/5)*v + 32


  elif unit == "F":
    return 5/9*(v - 32)

In [ ]:
temp(56,'C')

132.8

PW strength checker

In [ ]:
def pw(password):
  if(len(password)<8):
    return False
  if not any(char.isdigit() for char in password):
    return False
  if not any(char.islower() for char in password):
    return False
  if not any(char.isupper() for char in password):
    return False
  if not any(char in '!@#$%^&*()_+' for char in password):
    return False
  return True

In [ ]:
print(pw('VibhaeoMudia@7410'))
print(pw('Vibhaeo'))

True
False

Calculate the Total cost of items in shopping cart

In [ ]:
def total_cost(cart):
  total=0
  for i in cart:
    total+=i['price'] * i['quantity']
  return total





cart=[
    {'name':'Apple','price':0.5,'quantity':4},
    {'name':'Oranges','price':0.3,'quantity':7},
    {'name':'Banana','price':0.8,'quantity':2}

]

In [ ]:
total_cost(cart)

5.699999999999999

Lamba Function

In [ ]:
addition=lambda a,b:a+b

In [ ]:
addition(2,3)

5

Check If the string is palindrome

In [ ]:
def palindrome(str):

  str=str.lower().replace(" ","")
#  if(len(str)%2==0):
  if str==str[::-1]:
      return True
  else:
      return False

In [ ]:
palindrome("nayan")

True

In [ ]:
palindrome("A man a plan a canal Panama")

True

Factorial using recursion

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n * fact(n-1)

In [ ]:
print(fact(0))
print(fact(5))

1
120

A function to read file and count freq of word

In [ ]:
def count_word_freq(file_path):
  word_count={}
  with open(file_path,'r') as file:
    for line in file:
      words=line.split()
      for words in word:
        word=word.lower().strip('.,!?;:'"\')
        word_count[word]=word_count.get(word,0)+1
  return word_count


filepath='sample.txt'
word_freq=count_word_freq(filepath)
print(word_freq)

SyntaxError: unterminated string literal (detected at line 7) (<ipython-input-2-6c70557177e0>, line 7)

Validate Email Address

In [ ]:
import re

def val_email(email):
  pattern=r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.

##MAP FUNCTION

In [ ]:
def sq(x):
  return x*x

sq(10)

100

In [ ]:
num=[1,2,3,4,5,6]

list(map(sq,num))

[1, 4, 9, 16, 25, 36]

In [ ]:
##Lambda fn with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,num))

[1, 4, 9, 16, 25, 36]

In [ ]:
#MAP mult iterables

num1=[1,2,3]
num2=[4,5,6]

added_num=list(map(lambda x,y:x+y,num1,num2))

In [ ]:
added_num

[5, 7, 9]

In [ ]:
#MAP to convert a list of string to integers

str_num = ['1','2','3','4']
int_num=list(map(int,str_num)) # typecasting

print(int_num)

[1, 2, 3, 4]

In [ ]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
def get_name(person):
  return person['name']

people=[
    {'name' : 'krish','age':32},
    {'name' : 'Jack','age':33}
]

list(map(get_name,people))

['krish', 'Jack']

# Filter Function

In [ ]:
def even(num):
  if num%2 == 0:
    return True

even(24)

True

In [ ]:
def even(num):
    return num % 2 == 0  # Explicitly return True or False

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Make sure there's no variable named 'list' in your environment
filtered_lst = list(filter(even, lst))
print(filtered_lst)

TypeError: 'list' object is not callable

In [ ]:
number=[1,2,3,4,5,6]

greater_than_5=list(filter(lambda x:x>5,number))
print(greater_than_5)

TypeError: 'list' object is not callable